@import "../../main.scss";

.details-page {
    max-width: 1200px;
    margin: auto;
    .product-container {
        display: flex;

        .img-carousel {
            max-width: 400px;
            width: 100%;
            img {
                max-width: 400px;
                min-width: 300px;
                width: 100%;
                height: 400px;
                padding: 0 32px;
                object-fit: contain;
                padding-top: 16px;
            }
            .carousel-indicators {
                bottom: 100px;
                @media only screen and (max-width: 900px) {
                    bottom: -40px;
                }
                li {
                    background-color: black;
                }
            }
        }
        .product-details {
            display: grid;
            grid-gap: 12px;
            padding: 24px 16px 48px 0;
            height: max-content;
            width: 70%;
            .title {
                font-size: 24px;
                font-weight: 500;
            }
            .brand {
                color: gray;
                font-weight: bold;
            }
            .description {
                color: #989898;
            }
            .price {
                display: flex;
                align-items: baseline;
                grid-gap: 12px;
                .actual-price {
                    font-weight: bold;
                    font-size: 26px;
                }
                .strike-price {
                    color: #989898;
                    text-decoration: line-through;
                }
                .percentageOffer {
                    color: green;
                    font-weight: bold;
                }
            }
            .shippingPrice {
                display: flex;
                font-size: 14px;
                align-items: center;
                grid-gap: 6px;
                color: #525252;
                .title {
                    font-size: 14px;
                    margin: 0;
                }
                .price {
                    font-weight: 500;
                }
            }
            .buy-action {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                a {
                    flex: 1;
                    max-width: 250px;
                    &:first-child {
                        margin-right: 20px;
                    }
                }
                button {
                    width: 100%;
                }
            }
            .productId {
                display: flex;
                align-items: center;
                grid-gap: 8px;
                font-weight: 500;
                color: #525252;
                svg {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .icons {
                display: flex;
                .cod,
                .return {
                    display: flex;
                    font-size: 14px;
                    font-weight: bold;
                    justify-content: space-evenly;
                    align-items: center;
                    border-radius: 12px;
                    width: 90px;
                    padding: 4px 10px;
                    background: #ffc3c3;
                }
                .return {
                    margin-left: 12px;
                }
                .cod.available,
                .return.available {
                    background: #caffc3;
                }
            }
        }
        @media only screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                padding: unset;
                height: unset;
                max-height: 300px;
            }
            .product-details {
                padding: 16px;
                width: 100%;
            }
        }
    }
    .sub-product-container {
        .heading {
            font-size: 24px;
            padding: 20px 20px 0;
            font-weight: bold;
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: normal;
            padding: 20px 20px 0;
            .sub-product-item {
                background: white;
                border-radius: 10px;
                width: 140px;
                min-width: 140px;
                height: 100%;
                margin: 8px;
                border: 1px solid;
                cursor: pointer;
                .image {
                    height: 140px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 10px 10px 0 0;
                    }
                }
                .text {
                    background: #222222;
                    border-radius: 0 0 10px 10px;
                    padding: 8px;
                    color: white;
                    font-size: 14px;
                    .title {
                        font-weight: 400;
                    }
                    .price {
                        font-weight: bold;
                    }
                }
            }
            .sub-product-item.selected {
                background: #f2f2f2;
                border: 1px solid $primaryColor;
                .text {
                    background: $primaryColor;
                }
            }
        }
        @media only screen and (max-width: 900px) {
            .list {
                justify-content: center;
                padding: 20px 0 0 0;
                .sub-product-item {
                    width: 120px;
                    margin: 8px;
                    .image {
                        img {
                            // height: 150px;
                        }
                        // flex: 1;
                    }
                    .text {
                        padding: 10px;
                        .title {
                            font-size: 12px;
                        }
                        .price {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
