$primaryColor: #f44336;
$warningColor: #ff9800;
$dangerColor: #f44336;
$successColor: #4caf50;
$infoColor: #00acc1;
$roseColor: #e91e63;
$grayColor: #999999;
.main-container {
    background-color: $primaryColor;
}

#linear-loader.show {
    display: block;
    height: 4px;
    width: 100%;
    top: 70px;
    position: fixed;
    z-index: 1100;
    @media only screen and (max-width: 900px) {
        height: 2px;
    }
}
#linear-loader {
    display: none;
}

a, a:visited, a:hover{
    color: inherit!important;
    text-decoration: none!important;
}

.truncateLongText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

img::before {
    content: ' ';
    background-image: url(/images/noImage.png);
}